<div class="recipe_img">
    <img src="" alt="recipe_img" class="image-responsive">
</div>
<div class="recipe_title">
    <h1>Recipe Name</h1>
</div>
<div class="recipe_buttons">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
            Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">To Shopping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">Delete Recipe</a></li>
        </ul>
    </div>
</div>
<div class="recipe_desc">
    <p>Description</p>
</div>
<div class="recipe_ingre">
    <p>Ingredients</p>
</div>