<form class="ingre_edit_form">
    <div class="input-groups">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" #nameInput>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" #amountInput>
        </div>
    </div>
    <div class="btn-grp">
        <button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button>
        <button class="btn btn-danger" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
    </div> 
</form>
<hr>